In [188]:
import tensorflow as tf
import os
import pandas as pd
import matplotlib.pyplot as plt

In [189]:
data = pd.read_csv(os.path.join("data", "train.csv"))

In [190]:
data.drop(columns=["PassengerId", "Name", "Ticket", "Cabin", "Embarked"], inplace=True)

In [191]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int64(4), object(1)
memory usage: 48.9+ KB

In [192]:
data["Family"] = data["Parch"] + data["SibSp"]
data.drop(columns=["Parch", "SibSp"], inplace=True)

In [193]:
data.head()

   Survived  Pclass     Sex   Age     Fare  Family
0         0       3    male  22.0   7.2500       1
1         1       1  female  38.0  71.2833       1
2         1       3  female  26.0   7.9250       0
3         1       1  female  35.0  53.1000       1
4         0       3    male  35.0   8.0500       0

In [194]:
data["Age"] = data["Age"].fillna(data["Age"].median())

In [195]:
X_data = data.drop(columns=["Survived"])
y_data = data["Survived"]

In [196]:
X_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  891 non-null    int64
 1   Sex     891 non-null    object
 2   Age     891 non-null    float64
 3   Fare    891 non-null    float64
 4   Family  891 non-null    int64
dtypes: float64(2), int64(2), object(1)
memory usage: 34.9+ KB

In [197]:
X_data["Sex"] = X_data["Sex"].map({"male": 0, "female": 1})

In [198]:
dataset = tf.data.Dataset.from_tensor_slices((X_data.values, y_data.values)).batch(32)

In [199]:
len(dataset)

28

In [200]:
train_size = int(0.7 * len(dataset))
val_size = int(0.1 * len(dataset)) + 1
test_size = int(0.2 * len(dataset)) + 1
train_size, val_size, test_size

(19, 3, 6)

In [201]:
train_data = dataset.take(train_size)
val_data = dataset.skip(train_size).take(val_size)
test_data = dataset.skip(train_size + val_size).take(test_size)

In [202]:
from tensorflow_decision_forests.keras import GradientBoostedTreesModel
import tensorflow_decision_forests as tfdf
from tensorflow.keras.optimizers import Adam

In [203]:
model = GradientBoostedTreesModel()
model.compile(optimizer="adam", loss=tf.keras.losses.BinaryCrossentropy(), metrics=["accuracy"])

Use /tmp/tmpxxjxqunb as temporary training directory

W0000 00:00:1753172251.091502  168958 gradient_boosted_trees.cc:1873] "goss_alpha" set but "sampling_method" not equal to "GOSS".
W0000 00:00:1753172251.091574  168958 gradient_boosted_trees.cc:1883] "goss_beta" set but "sampling_method" not equal to "GOSS".
W0000 00:00:1753172251.091577  168958 gradient_boosted_trees.cc:1897] "selective_gradient_boosting_ratio" set but "sampling_method" not equal to "SELGB".

In [204]:
history = model.fit(train_data, validation_data=val_data)

Reading training dataset...
Training dataset read in 0:00:00.152006. Found 608 examples.
Reading validation dataset...
Num validation examples: tf.Tensor(96, shape=(), dtype=int32)
Validation dataset read in 0:00:00.103305. Found 96 examples.
Training model...

I0000 00:00:1753172251.368351  168958 kernel.cc:782] Start Yggdrasil model training
I0000 00:00:1753172251.368397  168958 kernel.cc:783] Collect training examples
I0000 00:00:1753172251.368406  168958 kernel.cc:795] Dataspec guide:
column_guides {
  column_name_pattern: "^__LABEL$"
  type: CATEGORICAL
  categorial {
    min_vocab_frequency: 0
    max_vocab_count: -1
  }
}
default_column_guide {
  categorial {
    max_vocab_count: 2000
  }
  discretized_numerical {
    maximum_num_bins: 255
  }
}
ignore_columns_without_guides: false
detect_numerical_as_discretized_numerical: false

I0000 00:00:1753172251.368495  168958 kernel.cc:401] Number of batches: 19
I0000 00:00:1753172251.368503  168958 kernel.cc:402] Number of examples: 608
I0000 00:00:1753172251.368533  168958 kernel.cc:802] Training dataset:
Number of records: 608
Number of columns: 6

Number of columns by type:
	NUMERICAL: 5 (83.3333%)
	CATEGORICAL: 1 (16.6667%)

Columns:

NUMERICAL: 5 (83.3333%)
	1: "data:0.0" NUMERICAL mean:2.30592 min:1 max:3 sd:0.836167
	2: "data:0.1" NUMERICAL mean:0.368421 min:0 max:1 sd:0.482376
	3: "data:0.2" NUMERICAL mean:29.4359 min:0.75 max:71 sd:12.8615
	4: "data:0.3" NUMERICAL mean:31.6998 min:0 max:512.329 sd:45.9806
	5: "data:0.4" NUMERICAL mean:0.907895 min:0 max:10 sd:1.5795

CATEGORICAL: 1 (16.6667%)
	0: "__LABEL" CATEGORICAL integerized vocab-size:3 no-ood-item

Terminology:
	nas: Number of non-available (i.e. missing) values.
	ood: Out of dictionary.
	manually-defined: Attribute whose type is manually defined by the user, i.e., the type was not automatically inferred.
	tokenized: The attribute value is obtained through tokenization.
	has-dict: The attribute is attached to a string dictionary e.g. a categorical attribute stored as a string.
	vocab-size: Number of unique values.

I0000 00:00:1753172251.368547  168958 kernel.cc:807] Collect validation dataset
I0000 00:00:1753172251.368558  168958 kernel.cc:401] Number of batches: 3
I0000 00:00:1753172251.368559  168958 kernel.cc:402] Number of examples: 96
I0000 00:00:1753172251.368564  168958 kernel.cc:813] Validation dataset:
Number of records: 96
Number of columns: 6

Number of columns by type:
	NUMERICAL: 5 (83.3333%)
	CATEGORICAL: 1 (16.6667%)

Columns:

NUMERICAL: 5 (83.3333%)
	1: "data:0.0" NUMERICAL mean:2.32292 min:1 max:3 sd:0.835349
	2: "data:0.1" NUMERICAL mean:0.302083 min:0 max:1 sd:0.459161
	3: "data:0.2" NUMERICAL mean:30.5443 min:0.75 max:80 sd:14.2465
	4: "data:0.3" NUMERICAL mean:37.0504 min:0 max:512.329 sd:62.9748
	5: "data:0.4" NUMERICAL mean:0.96875 min:0 max:7 sd:1.61021

CATEGORICAL: 1 (16.6667%)
	0: "__LABEL" CATEGORICAL integerized vocab-size:3 no-ood-item

Terminology:
	nas: Number of non-available (i.e. missing) values.
	ood: Out of dictionary.
	manually-defined: Attribute whose type is manually defined by the user, i.e., the type was not automatically inferred.
	tokenized: The attribute value is obtained through tokenization.
	has-dict: The attribute is attached to a string dictionary e.g. a categorical attribute stored as a string.
	vocab-size: Number of unique values.

I0000 00:00:1753172251.368568  168958 kernel.cc:818] Configure learner
W0000 00:00:1753172251.368709  168958 gradient_boosted_trees.cc:1873] "goss_alpha" set but "sampling_method" not equal to "GOSS".
W0000 00:00:1753172251.368710  168958 gradient_boosted_trees.cc:1883] "goss_beta" set but "sampling_method" not equal to "GOSS".
W0000 00:00:1753172251.368711  168958 gradient_boosted_trees.cc:1897] "selective_gradient_boosting_ratio" set but "sampling_method" not equal to "SELGB".
I0000 00:00:1753172251.368733  168958 kernel.cc:831] Training config:
learner: "GRADIENT_BOOSTED_TREES"
features: "^data:0\\.0$"
features: "^data:0\\.1$"
features: "^data:0\\.2$"
features: "^data:0\\.3$"
features: "^data:0\\.4$"
label: "^__LABEL$"
task: CLASSIFICATION
random_seed: 123456
metadata {
  framework: "TF Keras"
}
pure_serving_model: false
[yggdrasil_decision_forests.model.gradient_boosted_trees.proto.gradient_boosted_trees_config] {
  num_trees: 300
  decision_tree {
    max_depth: 6
    min_examples: 5
    in_split_min_examples_check: true
    keep_non_leaf_label_distribution: true
    num_candidate_attributes: -1
    missing_value_policy: GLOBAL_IMPUTATION
    allow_na_conditions: false
    categorical_set_greedy_forward {
      sampling: 0.1
      max_num_items: -1
      min_item_frequency: 1
    }
    growing_strategy_local {
    }
    categorical {
      cart {
      }
    }
    axis_aligned_split {
    }
    internal {
      sorting_strategy: PRESORTED
    }
    uplift {
      min_examples_in_treatment: 5
      split_score: KULLBACK_LEIBLER
    }
    numerical_vector_sequence {
      max_num_test_examples: 1000
      num_random_selected_anchors: 100
    }
  }
  shrinkage: 0.1
  loss: DEFAULT
  validation_set_ratio: 0.1
  validation_interval_in_trees: 1
  early_stopping: VALIDATION_LOSS_INCREASE
  early_stopping_num_trees_look_ahead: 30
  l2_regularization: 0
  lambda_loss: 1
  mart {
  }
  adapt_subsample_for_maximum_training_duration: false
  l1_regularization: 0
  use_hessian_gain: false
  l2_regularization_categorical: 1
  xe_ndcg {
    ndcg_truncation: 5
  }
  stochastic_gradient_boosting {
    ratio: 1
  }
  apply_link_function: true
  compute_permutation_variable_importance: false
  early_stopping_initial_iteration: 10
}

I0000 00:00:1753172251.368840  168958 kernel.cc:834] Deployment config:
cache_path: "/tmp/tmpxxjxqunb/working_cache"
num_threads: 14
try_resume_training: true

I0000 00:00:1753172251.368966  181782 kernel.cc:895] Train model
I0000 00:00:1753172251.369232  181782 gradient_boosted_trees.cc:577] Default loss set to BINOMIAL_LOG_LIKELIHOOD
I0000 00:00:1753172251.369259  181782 gradient_boosted_trees.cc:1190] Training gradient boosted tree on 608 example(s) and 5 feature(s).
I0000 00:00:1753172251.369281  181782 gradient_boosted_trees.cc:1230] 608 examples used for training and 96 examples used for validation
I0000 00:00:1753172251.369818  181782 gpu.cc:93] Cannot initialize GPU: Not compiled with GPU support
I0000 00:00:1753172251.373392  181782 gradient_boosted_trees.cc:1632] Train tree 1/300 train-loss:1.240509 train-accuracy:0.606908 valid-loss:1.232571 valid-accuracy:0.645833 [total:0.00s iter:0.00s]
I0000 00:00:1753172251.376779  181782 gradient_boosted_trees.cc:1632] Train tree 2/300 train-loss:1.157653 train-accuracy:0.740132 valid-loss:1.180274 valid-accuracy:0.718750 [total:0.01s iter:0.00s]
I0000 00:00:1753172251.381214  181782 gradient_boosted_trees.cc:1634] Train tree 3/300 train-loss:1.089176 train-accuracy:0.814145 valid-loss:1.133757 valid-accuracy:0.750000 [total:0.01s iter:0.00s]

Model trained in 0:00:00.318190
Compiling model...
Model compiled.

I0000 00:00:1753172251.671823  181782 early_stopping.cc:54] Early stop of the training because the validation loss does not decrease anymore. Best valid-loss: 0.865071
I0000 00:00:1753172251.671938  181782 gradient_boosted_trees.cc:1669] Create final snapshot of the model at iteration 76
I0000 00:00:1753172251.674075  181782 gradient_boosted_trees.cc:279] Truncates the model to 47 tree(s) i.e. 47  iteration(s).
I0000 00:00:1753172251.674193  181782 gradient_boosted_trees.cc:341] Final model num-trees:47 valid-loss:0.865071 valid-accuracy:0.822917
I0000 00:00:1753172251.674601  181782 kernel.cc:926] Export model in log directory: /tmp/tmpxxjxqunb with prefix 3ccecdcbf8a24878
I0000 00:00:1753172251.676042  181782 kernel.cc:944] Save model in resources
I0000 00:00:1753172251.677544  168958 abstract_model.cc:921] Model self evaluation:
Task: CLASSIFICATION
Label: __LABEL
Loss (BINOMIAL_LOG_LIKELIHOOD): 0.865071

Accuracy: 0.822917  CI95[W][0 1]
ErrorRate: : 0.177083


Confusion Table:
truth\prediction
    1   2
1  58   4
2  13  21
Total: 96


2025-07-22 08:17:31.682206: I tensorflow_decision_forests/tensorflow/ops/inference/kernel.cc:1206] Loading model from path /tmp/tmpxxjxqunb/model/ with prefix 3ccecdcbf8a24878
I0000 00:00:1753172251.683998  168958 quick_scorer_extended.cc:927] The binary was compiled without AVX2 support, but your CPU supports it. Enable it for faster model inference.
I0000 00:00:1753172251.684154  168958 abstract_model.cc:1439] Engine "GradientBoostedTreesQuickScorerExtended" built
2025-07-22 08:17:31.684174: I tensorflow_decision_forests/tensorflow/ops/inference/kernel.cc:1035] Use fast generic engine

In [205]:
history.history

{'val_loss': [0.4325355291366577], 'val_accuracy': [0.8229166865348816]}

In [206]:
test_dataset = pd.read_csv(os.path.join("data", "test.csv"))

In [207]:
test_dataset.drop(columns=["PassengerId", "Name", "Ticket", "Cabin", "Embarked"], inplace=True)

In [208]:
test_dataset["Family"] = test_dataset["Parch"] + test_dataset["SibSp"]
test_dataset.drop(columns=["Parch", "SibSp"], inplace=True)

In [209]:
test_dataset["Age"] = test_dataset["Age"].fillna(test_dataset["Age"].median())

In [210]:
test_dataset["Sex"] = test_dataset["Sex"].map({"male": 0, "female": 1})

In [211]:
test_dataset.head()

   Pclass  Sex   Age     Fare  Family
0       3    0  34.5   7.8292       0
1       3    1  47.0   7.0000       1
2       2    0  62.0   9.6875       0
3       3    0  27.0   8.6625       0
4       3    1  22.0  12.2875       2

In [212]:
predictions = model.predict(test_dataset)

14/14 [==============================] - 0s 2ms/step

In [214]:
predictions
predictions_binary = (predictions > 0.5).astype(int)

In [215]:
test_dataset_copy = pd.read_csv(os.path.join("data", "test.csv"))

In [216]:
submission = pd.DataFrame({
    'PassengerId': test_dataset_copy['PassengerId'],
    'Survived': predictions_binary.flatten()
})

In [217]:
submission.to_csv(os.path.join("data", "submission2.csv"), index = False)