In [173]:
import tensorflow as tf
import pandas as pd
import matplotlib
import os

In [174]:
data = pd.read_csv(os.path.join("data", "train.csv"))

In [175]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [176]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [177]:
data.drop(columns=["PassengerId", "Name", "Ticket", "Cabin"], inplace=True)

In [178]:
data["FamilySize"] = data["Parch"] + data["SibSp"]

In [179]:
data.drop(columns=["SibSp", "Parch"], inplace=True)

In [180]:
data.head()

   Survived  Pclass     Sex   Age     Fare Embarked  FamilySize
0         0       3    male  22.0   7.2500        S           1
1         1       1  female  38.0  71.2833        C           1
2         1       3  female  26.0   7.9250        S           0
3         1       1  female  35.0  53.1000        S           1
4         0       3    male  35.0   8.0500        S           0

In [181]:
X_data = data.drop(columns=["Survived"])
y_data = data["Survived"]

In [182]:
X_data.head()

   Pclass     Sex   Age     Fare Embarked  FamilySize
0       3    male  22.0   7.2500        S           1
1       1  female  38.0  71.2833        C           1
2       3  female  26.0   7.9250        S           0
3       1  female  35.0  53.1000        S           1
4       3    male  35.0   8.0500        S           0

In [183]:
X_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pclass      891 non-null    int64
 1   Sex         891 non-null    object
 2   Age         714 non-null    float64
 3   Fare        891 non-null    float64
 4   Embarked    889 non-null    object
 5   FamilySize  891 non-null    int64
dtypes: float64(2), int64(2), object(2)
memory usage: 41.9+ KB

In [184]:
X_data.isnull().sum()

Pclass          0
Sex             0
Age           177
Fare            0
Embarked        2
FamilySize      0
dtype: int64

In [185]:
X_data["Age"] = X_data["Age"].fillna(X_data["Age"].median())
X_data["Embarked"] = X_data["Embarked"].ffill()

In [186]:
X_data.isnull().sum()

Pclass        0
Sex           0
Age           0
Fare          0
Embarked      0
FamilySize    0
dtype: int64

In [187]:
X_data["Embarked"].unique()

array(['S', 'C', 'Q'], dtype=object)

In [188]:
X_data["Embarked"] = X_data["Embarked"].map({"S": 0, "C": 1, "Q": 2})
X_data["Sex"] = X_data["Sex"].map({"male": 0, "female": 1})

In [189]:
X_data.head()

   Pclass  Sex   Age     Fare  Embarked  FamilySize
0       3    0  22.0   7.2500         0           1
1       1    1  38.0  71.2833         1           1
2       3    1  26.0   7.9250         0           0
3       1    1  35.0  53.1000         0           1
4       3    0  35.0   8.0500         0           0

In [190]:
dataset = tf.data.Dataset.from_tensor_slices((dict(X_data), y_data))

In [191]:
batch_size = 32
dataset = dataset.shuffle(buffer_size=len(X_data)).batch(batch_size)

In [192]:
len(dataset)

28

In [195]:
train_size = int(0.8 * len(dataset))
test_size = int(0.2 * len(dataset)) + 1
train_size, test_size

(22, 6)

In [198]:
train_data = dataset.take(train_size)
test_data = dataset.skip(train_size).take(test_size)

len(train_data), len(test_data)

(22, 6)

Creating a model

In [203]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [200]:
model = Sequential()

In [204]:
model.add(Dense(64, activation="relu", input_shape=(6,)))
model.add(Dense(32, activation="relu"))
model.add(Dense(1, activation="sigmoid"))

/home/varshaan/titanic-dataset/.venv/lib/python3.12/site-packages/keras/src/layers/core/dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [207]:
model.compile(optimizer="adam", loss=tf.keras.losses.BinaryCrossentropy(), metrics=["accuracy"])

In [208]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           448 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,561 (10.00 KB)

 Trainable params: 2,561 (10.00 KB)

 Non-trainable params: 0 (0.00 B)